* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.layout {
  display: grid;
  grid-template-columns: 250px auto 250px;
  min-height: 100vh;
  gap: 10px;
}

/* SIDE BARS */
.sidebar {
  background: #f1f3f4;
  padding: 20px;
  height: 100vh;
}

.sidebar h3, .sidebar h4 {
  margin-bottom: 15px;
}

.sidebar p {
  padding: 8px 0;
  cursor: pointer;
}

/* FEED */
.feed {
  padding: 20px;
}

/* TWEET BOX */
.tweet-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tweet-box input,
.tweet-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.tweet-box button {
  align-self: flex-end;
  padding: 10px 16px;
  background: #1DA1F2;
  border: none;
  color: white;
  border-radius: 8px;
}

/* TWEET CARD */
.tweet-card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  margin-top: 12px;
}

.tweet-card strong {
  color: #1C73E2;
}

.btn-area {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

.btn-area button {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
}

.btn-area button:first-child {
  background: #FFD600;
}

.btn-area button:last-child {
  background: #FF6262;
  color: white;
}
