* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f2f2f2;
}

nav {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.blogs {
  width: 90%;
  margin: 20px auto;
}

.blog {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.blog img {
  width: 100%;
  margin-top: 10px;
}
.blog h2 {
  margin-bottom: 10px;
}
.blog p {
  color: #555;
}
