/* Background */
.hospital-auth-bg {
    min-height: 100vh;
    background: linear-gradient(to right, #e6f2ff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Design */
.hospital-card {
    width: 380px;
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.hospital-card:hover {
    transform: translateY(-5px);
}

/* Heading */
.hospital-title {
    text-align: center;
    color: #0077b6;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Subtitle */
.hospital-subtitle {
    text-align: center;
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

/* OTP Expire Text */
.otp-expire {
    text-align: right;
    font-size: 12px;
    color: #d90429;
    margin-top: 10px;
}

/* Button */
.hospital-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #0077b6;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s ease;
}

.hospital-btn:hover {
    background: #023e8a;
}

/* OTP Box Styling */
.otp-container input {
    width: 40px !important;
    height: 45px !important;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
    transition: 0.2s ease;
}

.otp-container input:focus {
    border: 1px solid #0077b6;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 119, 182, 0.3);
}
